<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#upload-modal">Cadastrar Livro</a></li>
      <li><a href="#search">Procurar Livro</a></li>
      <li><a href="#about-footer">Sobre</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="modal-trigger" href="#upload-modal">Cadastrar Livro</a></li>
      <li><a href="#search">Procurar Livro</a></li>
      <li><a href="#about-footer">Sobre</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Modal Structure for CRUD operations -->
<div id="upload-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="header center orange-text"> Catalogação </h4>
    <div class="container">
      <div class="row">  
        <div class="col s12 input-field">
          <input ng-model="modalForm.title" name="titulo" type="text">
          <label for="titulo">Título</label>
        </div>
      </div>
      <div class="row">  
        <div class="col s12 input-field">
          <input ng-model="modalForm.author" name="autoria" type="text">
          <label for="autoria">Autoria</label>
        </div>
      </div>
      <div class="row">  
        <div class="col s12 input-field">
          <input ng-model="modalForm.publisher" name="veiculo" type="text">
          <label for="veiculo">Veículo</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <i class="material-icons prefix">today</i>
          <input ng-model="modalForm.releaseDate" type="date">
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn blue">
          <span><i class="material-icons center">description</i></span>
          <input fileread="modalForm.file" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
        </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="clearModalData()">Cancelar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="saveData()">Salvar</a>
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">PA Library</h1>
    <div class="row center">
      <h5 class="header col s12 light">Sua forma rápida e segura de compartilhar livros</h5>
    </div>
    <div class="row center">
      <a href="#search" id="download-button" class="btn-large waves-effect waves-light orange">Procure seu livro</a>
    </div>
    <br><br>
  </div>
</div>

<!-- Main content -->
<div class="container">
  <!--   Icon Section   -->
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div id="icon-block" class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">location_on</i></h2>
          <h5 class="center">Seus livros em uma única plataforma</h5>

          <p class="light">Salve e compartilhe seus livros de onde você estiver!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Comunidade</h5>

          <p class="light">Para que a ideia dê certo é necessário que você e seus amigos cuidem desta plataforma! Ajude administrando os livros.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Fácil de usar</h5>

          <p class="light">Com um simples clique e você já pode ter seu livro disponível.</p>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="modal-trigger btn-floating btn-large red" href="#upload-modal">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>

  <!-- Search section -->
  <div class="section" id="search">
    <h3 class="header center orange-text">Buscar Livros</h3>
    <br><br>
    <form class="col s12">
      <div class="row">  
        <div class="col s10 input-field">
          <input ng-model="searchForm.titulo" name="titulo" type="text">
          <label for="titulo">Título</label>
        </div>
        <div class="col s2">
          <input type="checkbox" ng-click="updateSelection('Titulo')" ng-model="searchBy.Titulo" id="check_titulo" />
          <label for="check_titulo"></label>
        </div>
      </div>
      <div class="row">  
        <div class="col s10 input-field">
          <input ng-model="searchForm.autoria" name="autoria" type="text">
          <label for="autoria">Autoria</label>
        </div>
        <div class="col s2">
          <input type="checkbox" ng-click="updateSelection('Autoria')" ng-model="searchBy.Autoria" id="check_autoria" />
          <label for="check_autoria"></label>
        </div>
      </div>
      <div class="row">  
        <div class="col s10 input-field">
          <input ng-model="searchForm.veiculo" name="veiculo" type="text">
          <label for="veiculo">Veículo</label>
        </div>
        <div class="col s2">
          <input type="checkbox" ng-click="updateSelection('Veiculo')" ng-model="searchBy.Veiculo" id="check_veiculo" />
          <label for="check_veiculo"></label>
        </div>
      </div>
      <div class="row">
        <div class="col s5 input-field">
          <i class="material-icons prefix">today</i>
          <input ng-model="searchForm.from_datapublicacao" type="date">
        </div>
        <div class="col s5 input-field">
          <i class="material-icons prefix">today</i>
          <input ng-model="searchForm.to_datapublicacao" type="date">
        </div>
        <div class="col s2">
          <input type="checkbox" ng-click="updateSelection('DateRange')" ng-model="searchBy.DateRange" id="check_datapublicacao" />
          <label for="check_datapublicacao"></label>
        </div>
      </div>
      <br><br>
      <div class="action center">
        <a class="waves-effect waves-light btn blue" ng-click="searchCatalog()">Buscar</a>
        <a class="waves-effect waves-light btn blue" ng-click="clearSearchForm()">Limpar</a>
      </div>
    </form>
  </div>
  <div class="section" id="search_result" ng-show="searchResult">
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th data-field="titulo">Título</th>
          <th data-field="autoria">Autoria</th>
          <th data-field="veiculo">Veículo</th>
          <th data-field="veiculo">Operações</th>
        </tr>
          </thead>
      <tbody>
        <tr ng-repeat="book in searchResultData">
          <td>{{ book.titulo }}</td>
          <td>{{ book.autoria }}</td>
          <td>{{ book.veiculo }}</td>
          <td>
            <a class="btn-floating red">
              <i class="material-icons" ng-click="editFromSearch(book)">mode_edit</i>
            </a>
            <a class="btn-floating yellow darken-1" ng-click="deleteBook(book)">
              <i class="material-icons">delete</i>
            </a>
            <a class="btn-floating blue">
              <i class="material-icons" ng-click="downloadBook(book)">attach_file</i>
            </a>
          </td>
        </tr>
      </tbody>
        </table>
  </div>
</div>
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div id="about-footer" class="col l6 s12">
        <h5 class="white-text">PA Library&trade;</h5>
        <p class="grey-text text-lighten-4">Segundo trabalho de Programação Avançada na Universidade Federal do Rio de Janeiro. O objetivo do trabalho é construir uma aplicação Web que permita o compartilhamento de arquivos (PDF/EPub).</p>
      </div>

      <div id="social" class="col l6 s12">
        <h5 class="white-text">Conecte-se conosco:</h5>
        <a class="white-text" href="https://github.com/Hguimaraes">
          <center><i class="fa fa-github fa-3x" aria-hidden="true"></i></center>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      &copy; 2016 Copyright - All rights reserved to 
      <a class="orange-text text-lighten-3" href="http://hguimaraes.me">Heitor Guimarães</a>
    </div>
  </div>
</footer>