<h2 class="header center orange-text"><i class="material-icons">library_books</i> Cadastro de Usuário</h2>
<br>
<div class="container">
	<div class="row center">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s8 offset-s2">
			        <input ng-model="signup.usuario" type="text" class="validate">
			        <label for="username">Usuário</label>
			    </div>
			</div>
			<div class="row">
				<div class="input-field col s8 offset-s2">
		        	<input ng-model="signup.senha" type="password" class="validate">
		        	<label for="password">Senha</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s8 offset-s2">
		        	<input ng-model="repass" type="password" class="validate">
		        	<label for="password">Repetir Senha</label>
		        </div>
			</div>
			<div class="action center">
				<a class="waves-effect waves-light btn blue" ng-click="signupUser()">Cadastrar</a>
				<a href="/" class="waves-effect waves-light btn blue">Voltar</a>
			</div>
		</form>
	</div>
</div>