<h2 class="header center orange-text"><i class="material-icons">library_books</i> PaLibrary </h2>
<br>
<div class="container">
	<div class="row center">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s8 offset-s2">
			        <input ng-model="signin.usuario" type="text" class="validate">
			        <label for="username">Usuário</label>
			    </div>
			</div>
			<div class="row">
				<div class="input-field col s8 offset-s2">
		        	<input ng-model="signin.senha" type="password" class="validate">
		        	<label for="password">Senha</label>
		        </div>
			</div>
			<div class="action center">
				<a class="waves-effect waves-light btn blue" ng-click="login()">Entrar</a>
				<a href="/signup" class="waves-effect waves-light btn blue">Cadastro</a>
			</div>
		</form>
	</div>
</div>